
<div class="container-fluid ">
    <div class="row heading_row ">
        <div class="float-start col-6">
            <img class="logo" src="../../assets/LOGO-01.png" alt="">   
        </div>
        <div class="col-6 right ">
            <a  class="text-white m-4 link_text" routerLink="/">About</a>
            <a  class="text-white m-4 link_text" routerLink="/contact-us">Contact</a>
            <a  class=" text-white my-4 mx-3" href="https://www.instagram.com/jdkinetics/"><img class="social_media_icon" src="../../assets/instagram_icon.png" alt="instagram"></a>
            <a  class=" text-white my-4" href="https://www.facebook.com/profile.php?id=61550493645590"><img class="social_media_icon" src="../../assets/facebook_icon.png" alt="facebook"></a>
        </div>
    </div>
    
</div>
<div class="container-fluid brickWall">
    <div class="row parent" >
        <div class="col-12 brickwall">
            <img class="believe" src="../../assets/believe.png" alt="">
        </div>
    </div>
</div>
