
<div class="container-fluid ">
    <div class="row ">
        <div class="float-start col-6">
            <img class="logo" src="../../assets/LOGO-01.png" alt="">   
        </div>
        <div class="col-6 right ">
            <a  class="text-white m-4" routerLink="/">About</a>
            <a  class="text-white m-4" routerLink="/contact-us">Contact</a>
            <a  class="text-white my-4 mx-3" href=""><img src="" alt="instagram"></a>
            <a  class="text-white my-4" href=""><img src="" alt="facebook"></a>
        </div>
    </div>
    
</div>
<div class="container-fluid brickWall">
    <div class="row parent" >
        <div class="col-12 brickwall">
            <img class="believe" src="../../assets/believe.png" alt="">
        </div>
    </div>
</div>
