<div class="container-fluid ">
    <div class="row">
        <div class="col-3 ">

        </div>
        <div class="col-6 my-4">
            <p class="business_description">
                You can reach your fitness goals with our
                personal training services. It doesn't matter if you want to
                lose weight, build muscle, or improve your health.
            </p>
        </div>
        <div class="col-3 ">

        </div>
    </div>

</div>
<div class="contaier">
    <div class="row ">
        <div class="col"></div>
        <div class="col in_action_container">
            <img class="in_action_img" src="../../assets/landing_new.jpg" alt="">
            
        </div>
        <div class="col"></div>
    </div>
</div>

<h3 class="sub_heading">We offer a variety of services:</h3>

<div class="contaier">
    <div class="row services_lists">
        <div class="col"></div>
        <div class="col-4 services_list">
            <ul class="no-bullets">
                <li>One-on-one personal training</li>
                <li>Physical rehabilitation exercise</li>
                <li>Flexibility training</li>
            </ul>
          
            
        </div>
        <div class="col-4 services_list_right">
            <ul class="no-bullets">
                <li>Body measurements</li>
                <li>Dynamic taping</li>
                <li>We also work with people with special needs</li>
            </ul>
        </div>
        <div class="col"></div>
    </div>
</div>

<h3 class="sub_heading">Support our community</h3>

<div class="contaier-fluid m-5 ">
    <div class="row ">
        <div class="comp_logo_container" >
            <a href="https://jaconeethling8609.wixsite.com/gerhardshawphysio">  <img class="company_logo" src="../../assets/gerhard_logo.png" alt=""></a>
            <a  href="https://instagram.com/3dimension_fitness?igshid=MzRlODBiNWFlZA=="> <img class="company_logo" src="../../assets/3_dim_logo.png" alt=""></a>
        
        </div>   
            
        
    </div>
</div>